{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login-page">
    <div class="row justify-content-center">
        <div class="col-md-6 login-form">
            <form method="post" class="form-signin">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <label for="inputUsername" class="sr-only">Email</label>
                <input type="text" value="{{ last_username }}" name="email" id="inputUsername" class="form-control mb-3" placeholder="email" autocomplete="email" required autofocus>

                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Mot de passe" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn boutonStyle btn-block" type="submit">CONNEXION</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
