{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="row justify-content-center">
            <div class="col-md-6 login-form">
                

                {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
                    

                    <div class="mb-3">
                        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <button type="submit" class="btn boutonStyle">INSCRIPTION</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
